<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <br>
        <h1>Processes on <%= `hostname` %></h1>
        <br>
        <a href="<%= url('/find_user') %>" class="btn btn-primary"><span class="fa fa-user"></span> Find a specific user!</a>
        <a href="<%= url('/man') %>" class="btn btn-primary"><span class="fa fa-terminal"></span> man ps</a>
        <br>
        <br>
        <table class="table">
            <thead>
              <tr scope="col">
                    <% [:user, :pid, :cpu, :mem, :vsz, :rss, :tty, :stat, :start, :time, :commmand].each do |column| %>
                        <th><%= column.to_s %></th>
                    <% end %>
              </tr>
            </thead>
            <tbody>
              <% @output.drop(1).each do |process| %>
                <tr scope="row">
                    <% process.values.each do |cell| %>
                        <td>
                            <%= cell %>
                        </td>
                    <% end %>
                </tr>
              <% end %>  
            </tbody>
        </table>        
    </body>
</html>
